#bandera, #logo:hover {
	cursor: pointer;
}

#formulario {
	background-color: #FFD2D2;
	padding-left: 0px;
	padding-right: 0px;
}

#nuevaCuenta {
	background-color: #FFB4B4;
	padding-bottom: 25px;
}

#cuadro {
 padding-bottom: 20px;
 padding-left: 0px;
 padding-right: 0px;
 font-family: arial;
 background-color: #FFB4B4;
}

.card {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #9F2B57;
	border-style: none;
}

.card-icon {
	height: 24px;
	width: 24px;
	padding-top: 7px;
}

.card-icon2 {
	height: 24px;
	width: 24px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.card-icon, .card-icon2:hover {
	cursor: pointer;
}

.card-login {
	width: 400px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 30px;
	padding-bottom: 40px;
	color: black;
	position: absolute;
	top: 18%;
	left: 36%;
	z-index: 50;
}

.card-logout {
	width: 400px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 30px;
	padding-bottom: 40px;
	color: black;
	position: absolute;
	top: 30%;
	left: 36%;
	z-index: 50;
}

.card-alta {
	padding-left: 5%;
	padding-right: 5%;
	color: black;
	text-align: left;
	z-index: 50;
}

#eltiempo {
	padding-left: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: x-large;
	position: fixed;
}

#weatherimg {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: -35px;
	margin-left: -25px;
	margin-right: 0px;
	width: 120px;
	height: 120px;
}

.container-alta {
	font-family: arial;
	background-color: #FFD2D2;
	width: 40%;
	padding-bottom: 20px;
}

.container-comun {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 25px;
	position: absolute;
	top: 16%;
	color: black;
	font-weight: bold;
	background-color: #E72085;
	text-align: center;
	z-index: 50;
}

.container-cabecera {
	font-family: arial;
	height: 50px;
	margin-top: 5px;
	padding-top: 15px;
	font-weight: bold;
	font-size: large;
	color: white;
	background-color: grey;
}

#resumenAlta {
	font-family: arial;
	margin-top: 5px;
	padding-top: 15px;
	font-weight: bold;
	font-size: large;
	margin-bottom: 0px;
	background-color: #FFB4B4;
}

.container-cuentas {
	font-family: arial;
	height: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: large;
	background-color: #C0C0C0;
	border-bottom: 1px solid #FFD2D2;

}

#toggle {
		padding-left: 40px;
}

#toggle:hover {
	cursor: pointer;
}

.container-detcuenta {
	font-family: arial;
	padding-top: 20px;
	padding-bottom: 15px;
	margin-top: 0px;
	font-size: large;
	background-color: #FFD2D2;
	border-bottom: 1px solid #FFD2D2;
}

#top {
	background-color: #E72085;
}

#menu {
	background-color: #9F2B57;
}

.btn-inicio {
	padding-top: 25px;
	padding-left: 35px;
}

.btn-formulario {
	background-color: #9F5E7E;
	color: black;
	font-weight: bold;
}

.btn-detalle {
	background-color: #C0C0C0;
	border-color: #C0C0C0;
	color: black;
}

#logo {
	padding-top: 10px;
	padding-left: 0px;
}

.btn-alb {
	font-family: arial;
	font-size: medium;
	background-color: #9F2B57;
	border-style: none;
}

.alb-item1 {
	font-family: arial;
	font-weight: bold;
	color: black;
	padding-right: 30px;
	padding-left: 0px;
	padding-top: 5px;
	font-size: small;
}

.alb-item2 {
	font-family: arial;
	font-weight: bold;
	color: black;
	padding-right: 50px;
	font-size: large;
	cursor: pointer;
}

.dropdown-item:hover {
	background-color: #D3B2BE;
	color: black;
}

.fotos {
	background-color: #E72085;
}

.col-2, .col-1 {
	padding-left: 0px;
	padding-right: 0px;
}

.row {
	padding-top: 0px;
	padding-bottom: 0px;
}

.card h4, h5 {
	text-align: center;
}

.alertaerror {
	color: #9F2B57;
	font-weight: bold;
	text-align: center;
}

.alerterror {
	color: #E72085;
	font-weight: bold;
	text-align: center;
}

#datos {
	background-color: #E72085;
}

#blocker, #blockerCuentas, #blockerMvtos {
	background-color: #E72085;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 50;
	opacity: 0.5;
  filter: alpha(opacity=50);
}

#blockerCambios {
	background-color: white;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 50;
	opacity: 0.2;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:  #9F2B57;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown {
  position: relative;
  display: inline-block;
	cursor: pointer;
}

.dropdown-content a {
	font-family: arial;
	font-weight: bold;
	color: #D3B2BE;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
	background-color: #D3B2BE;
	color: black;
}

.show {
	display: block;
}
